<body>
  <main class="contenido">
    <section class="seccion-texto">
      <h1>COLABORADOR INTERACTIVO<br />DE PLANES DE NEGOCIO</h1>
      <h2>UTPL | Decide ser más.</h2>
    </section>

    <section class="aside">
      <section class="seccion-inicio">
        <form (ngSubmit)="login()" class="formulario-inicio">
          <div class="grupo-formulario">
            <label for="correo">Email</label>
            <input
              type="email"
              [(ngModel)]="email"
              class="entrada"
              placeholder="Ingresar email"
              id="correo"
              name="correo"
              required
            />
          </div>
          <div class="grupo-formulario">
            <label for="contrasena">Contraseña</label>
            <div class="input-group eye-inside">
              <input
                [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="password"
                class="entrada"
                placeholder="Ingresar contraseña"
                id="contrasena"
                name="contrasena"
                required
              />
              <button
                type="button"
                class="toggle-password"
                (click)="togglePasswordVisibility()"
                aria-label="Mostrar u ocultar contraseña"
              >
                <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
            </div>
          </div>
          <div class="botones-inicio">
            <button type="submit" class="btn-utpl"> <i class="fa fa-lock"></i> Iniciar Sesion</button>
          </div>
        </form>
      </section>
      <div class="imagen">
        <img src="login.jpg" alt="Login Image" class="jpg" />
      </div>
    </section>
  </main>
</body>
